@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html,
body {
    background-color: #262626;
    font-family: 'Orbitron', sans-serif;
    color: #f0ffff;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


td {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 10px;
}

td:hover {
    border-radius: 5px;
    cursor: pointer;
    background: #262626;
    box-shadow: inset 7px 7px 23px #222222,
        inset -7px -7px 23px #2a2a2a;
}

.d-flex {
    display: flex;
}

.fa-calculator {
    font-size: 50px;
    padding-right: 15px;
}

.calculator_body {
    width: 360px;
    padding: 25px;
    border-radius: 10px;
    background: #262626;
    box-shadow: 7px 7px 23px #222222,
        -7px -7px 23px #2a2a2a;
}

.display {
    overflow: hidden;
    height: 160px;
    margin: 20px 0;
    text-align: right;
    background: #262626;
    box-shadow: inset 7px 7px 23px #222222,
        inset -7px -7px 23px #2a2a2a;
}

.display div {
    min-height: 80px;
    letter-spacing: 2px;
    overflow: hidden;
    line-height: 80px;
    margin-right: 15px;
    font-size: 30px;
}

.calculator_body h2 {
    font-size: 25px;
    letter-spacing: 1px;
}

.calculator_body h2 span {
    float: right;
}


.footer,
.footer a {
    color: #f0ffff;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 5px;
}


@media screen and (max-width: 600px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator_body {
        position: static;
        width: 100%;
        display: grid;
        padding: 0 25px;
        border-radius: 10px;
        background: #262626;
        box-shadow: none;
    }
    .display {
        height: 160px;
    }
    .display div {
        min-height: 80px;
        line-height: 80px;
        margin: 0 15px;
        font-size: 25px;
        overflow: auto;
    }
    td {
        font-size: 30px;
        width: 60px;
        height: 60px;
        text-align: center;
        margin: 10px;
    }
}

.text_left{
    text-align: left;
}
.align_items_center{
    align-items: center;
}

.justify_content_between{
    justify-content: space-between;
}

#bgColor i{
    font-size: 25px;
    cursor: pointer;
}